@model WeeBtpWebsite.Models.ContactUsModel
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Header Start-->
<header id="pq-header" class="pq-header-default">
    <div class="pq-top-header">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-md-6 text-right">
                    <div class="pq-header-social text-right">
                        <ul>
                            <li><a href="https://www.facebook.com/weebtp" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/weebtp/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/weebtp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pq-header-contact ">
                        <ul>
                            <li>
                                <a href="tel:+8007816632"><i class="fas fa-phone-flip"></i><span>(800)781-6632</span></a>
                            </li>
                            <li>
                                <a href="mailto:initiative@weebtp.com"><i class="fas fa-envelope"></i><span>initiative@weebtp.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pq-bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="~/Home/Home">
                            <img class="img-fluid logo" src="~/Content/WebsiteContent/images/We(e)BTPv2.0.png" alt="We(e)" style="height:100px;">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div id="pq-menu-contain" class="pq-menu-contain">
                                <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="~/Home/OurServices">Services</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeCodeIGNITE" style="text-transform:none;">We(e) CodeIGNITE</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeSecurity360" style="text-transform:none;">We(e) Security360</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeCloudSPHERE" style="text-transform:none;">We(e) CloudSPHERE</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeNextgenFLOW" style="text-transform:none;">We(e) NextgenFLOW</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeBlockCENTRAL" style="text-transform:none;">We(e) BlockCENTRAL</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeeDatastAIsis" style="text-transform:none;">We(e) DatastAIsis</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/OurServices/WeePraaS" style="text-transform:none;">We(e) PraaS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Industries</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="~/Home/Finance">Finance</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Home/Healthcare">Healthcare</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Home/Retail">Retail</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Home/Education">Education</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Home/RealEstate">Real Estate</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Home/Travel">Travel</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="~/Home/Other">Others</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="~/Home/Blog">Blog</a>@*<i class="fa fa-chevron-down pq-submenu-icon"></i>*@
                                        @*<ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children">
                                        <a href="#">Grid Style</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                        <li class="menu-item">
                                        <a href="one-column-blog.html">One Column Blog</a>
                                        </li>
                                        <li class="menu-item">
                                        <a href="two-column-blog.html">Two Column Blog</a>
                                        </li>
                                        <li class="menu-item">
                                        <a href="three-column-blog.html">Three Column Blog</a>
                                        </li>
                                        </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                        <a href="#">Blog Sidebar</a><i class="fa fa-chevron-down pq-submenu-icon"></i>
                                        <ul class="sub-menu">
                                        <li class="menu-item">
                                        <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                        </li>
                                        <li class="menu-item">
                                        <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                        </li>
                                        </ul>
                                        </li>
                                        <li class="menu-item">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html">
                                        Blog
                                        Single
                                        </a>
                                        </li>
                                        </ul>*@
                                    </li>
                                    <li class="menu-item current-menu-item">
                                        <a href="~/Home/ContactUs">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pq-menu-search-block">
                            @*<a href="javascript:void(0)" id="pq-seacrh-btn"><i class="fa fa-search"></i></a>
                            <div class="pq-search-form">

                            <form role="search" method="get" class="search-form"
                            action="https://techtrix.peacefulqode.com/">
                            <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                            </label>
                            <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                            </button>
                            </form>
                            </div>*@
                        </div>
                        <a href="~/Home/FreeQuote" class="pq-button">
                            <div class="pq-button-block">

                                <span class="pq-button-text">Free Quote</span>
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->
<!--Breadcrumb Start-->
<div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item">
                                <a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active">Contact Us</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->
<!--Contacts & Forms Start-->
<section class="contact-form">
    <div class="container">
        <div class="row g-0 align-items-center">
            <div class="col-lg-5">
                <div class="pq-bg-dark pq-contact-form-p">
                    <div class="pq-section pq-style-1 text-left">
                        <h5 class="pq-section-title pq-text-white" id="contacts" data-high_text="" data-title_text="Our Contacts" data-rough_color="#fd4a18" data-rough_type="">Our Contacts</h5>
                        <p class="pq-section-description pq-text-white">
                            Let’s discuss how We(e) can help you your business
                            achieve success through our business technology services.
                        </p>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pq-icon-box pq-style-5">
                                    <div class="pq-icon">
                                        <a href="#"><i class="ion ion-ios-location"></i></a>
                                    </div>
                                    <div class="pq-icon-box-content">
                                        <h4 class="pq-text-white">Our Address</h4>
                                        <p class="pq-text-white mb-0">
                                            276 5th Avenue Suite 704
                                            New York, NY 10001
                                            United States
                                        </p>
                                    </div>
                                </div>
                                <div class="pq-icon-box pq-style-5">
                                    <div class="pq-icon">
                                        <a href="#"><i class="ion ion-email"></i></a>
                                    </div>
                                    <div class="pq-icon-box-content">
                                        <h4 class="pq-text-white">E-Mail Address</h4>
                                        <p class="pq-text-white mb-0">initiative@weebtp.com</p>

                                    </div>
                                </div>
                                <div class="pq-icon-box pq-style-5">
                                    <div class="pq-icon">
                                        <a href="#"><i class="fas fa-phone"></i></a>
                                    </div>
                                    <div class="pq-icon-box-content">
                                        <h4 class="pq-text-white">Phone Number</h4>
                                        <p class="pq-text-white mb-0"> (800) 781-6632 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-4 mt-lg-0">
                <div class="form-div">
                    <div class="pq-section pq-style-1 text-left">
                        <h5 class="pq-section-title" id="quote" data-high_text="" data-title_text="Request A Quote" data-rough_color="#fd4a18" data-rough_type="underline">Request A Quote</h5>
                        <p class="pq-section-description">
                            Our technology sales team is happy to help you get started. Fill out the form and we’ll
                            get back to you as soon as possible.
                        </p>
                    </div>
                    @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { @class = "pq-contactform pq-applyform" }))
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                @*  <input type="text" id="first-name" class="name-field" placeholder="Your Name" required>*@

                                @Html.TextBoxFor(m => m.firstName, new { placeholder = "Your Name", @class = "name-field", required = "required" })

                            </div>
                            <div class="col-lg-6 col-md-6">
                                @*<input type="text" id="e-mail" class="e-mail-field" placeholder="Email" required>*@
                                @Html.TextBoxFor(m => m.email, new { placeholder = "Email", @class = "e-mail-field", required = "required" })

                            </div>
                            <div class="col-lg-6 col-md-6">
                                @*<input type="text" id="phone-number" class="phone-number-field" placeholder="Cell Phone" required>*@
                                @Html.TextBoxFor(m => m.phoneNumber, new { placeholder = "Phone", @class = "phone-number-field", required = "required" })

                            </div>
                            <div class="col-lg-6 col-md-6">
                                @*<input type="text" id="subject" class="subject-field" placeholder="Subject" required>*@
                                @Html.TextBoxFor(m => m.Subject, new { placeholder = "Subject", @class = "subject-field", required = "required" })

                            </div>
                            <div class="col-lg-12">
                                @*<textarea id="message" rows="5" cols="10" placeholder="Your Message" required></textarea>*@
                                @Html.TextAreaFor(m => m.Message, new { rows = "5", cols = "10", placeholder = "Your Message", @class = "name-field", required = "required" })

                            </div>
                            <div class="col-md-12">
                                <div class="pq-button-block">
                                    <input class="pq-button-text" id="emailForm" type="submit" value="Send Message" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById("emailForm").addEventListener("submit", function (event) {
        event.preventDefault();
        alert("Email sent successfully.");
    });

</script>
<!--Contacts & Forms End-->
<!--Map Start-->
<div class="map p-0">
    <div class="pq-bg-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.733201529638!2d-73.98949732498399!3d40.745895835541475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a89db097c9%3A0x410a7d3325eecd42!2s276%205th%20Ave%20Room%20704%2C%20New%20York%2C%20NY%2010001%2C%20USA!5e0!3m2!1sen!2s!4v1694411190079!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!--Map ENd-->
